---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= partial "layouts/banner" %>
    <%= partial "layouts/cards" %>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
