<div class="about">
    <h1>Made by us</h1>
  <div class="about-content">
    <ul class="list-inline">
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/gglewinsmith", class: "avatar" %>
        <h2>George LS</h2>
      </li>
      <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/benpenton", class: "avatar" %>
        <h2>Ben Penton</h2>
      </li>
    </ul>
  </div>
</div>
